absl-py==2.2.2
action-msgs==2.0.2
action-tutorials-interfaces==0.33.5
action-tutorials-py==0.33.5
actionlib-msgs==5.3.6
actuator-msgs==0.0.1
addict==2.4.0
aiobotocore
aiohttp
aioitertools
aiosignal
alabaster
altair
ament-cmake-test==2.5.4
ament-copyright==0.17.2
ament-cppcheck==0.17.2
ament-cpplint==0.17.2
ament-flake8==0.17.2
ament-index-python==1.8.1
ament-lint==0.17.2
ament-lint-cmake==0.17.2
ament-package==0.16.4
ament-pep257==0.17.2
ament-uncrustify==0.17.2
ament-xmllint==0.17.2
anaconda-anon-usage
anaconda-catalogs
anaconda-client
anaconda-cloud-auth
anaconda-navigator
anaconda-project
angles==1.16.0
annotated-types
anyio
appdirs==1.4.4
archspec
argcomplete==3.6.2
argon2-cffi
argon2-cffi-bindings
arrow
asgiref==3.8.1
astroid
astropy
astropy-iers-data
asttokens
astunparse==1.6.3
async-lru
atomicwrites==1.4.0
attr==0.3.1
attrs
Automat
autopep8
azure-core==1.33.0
azure-storage-blob==12.25.1
Babel
bcrypt
beautifulsoup4
binaryornot
black
bleach==5.0.1
blinker
bokeh
boltons
bond==4.1.2
boto==2.49.0
boto3==1.38.3
botocore==1.38.3
Bottleneck
Brotli
builtin-interfaces==2.0.2
cachetools
catkin-pkg==1.0.0
certifi
cffi
chardet
charset-normalizer
click
cloudpickle
colorama
colorcet
comm
composition-interfaces==2.0.2
conda
conda-build
conda-content-trust
conda-libmamba-solver
conda-pack
conda-package-handling
conda-repo-cli
conda-token
conda_index
conda_package_streaming
ConfigArgParse==1.7
constantly
contourpy
control-msgs==5.4.0
cookiecutter
cryptography
cssselect
cv-bridge==4.1.0
cycler
cytoolz
dash==3.0.4
dask
dask-expr
datamodel-code-generator==0.26.1
datashader
debugpy
decorator
defusedxml
demo-nodes-py==0.33.5
Deprecated==1.2.18
diagnostic-msgs==5.3.6
diagnostic-updater==4.2.3
diff-match-patch
dill
distributed
distro
Django==5.1.8
django-annoying==0.10.6
django-cors-headers==3.6.0
django-csp==3.7
django-debug-toolbar==3.2.1
django-environ==0.10.0
django-extensions==3.2.3
django-filter==24.3
django-migration-linter==5.2.0
django-model-utils==4.1.1
django-ranged-fileresponse==0.1.2
django-rq==2.10.3
django-storages==1.12.3
django-user-agents==0.4.0
djangorestframework==3.15.2
djangorestframework_simplejwt==5.4.0
dnspython==2.7.0
docstring-to-markdown
docutils
domain-coordinator==0.12.0
drf-dynamic-fields==0.3.0
drf-flex-fields==0.9.5
drf-generators==0.3.0
dwb-msgs==1.3.6
easydict==1.13
email_validator==2.2.0
empy==4.2
entrypoints
et-xmlfile
example-interfaces==0.12.0
examples-rclpy-executors==0.19.5
examples-rclpy-minimal-action-client==0.19.5
examples-rclpy-minimal-action-server==0.19.5
examples-rclpy-minimal-client==0.19.5
examples-rclpy-minimal-publisher==0.19.5
examples-rclpy-minimal-service==0.19.5
examples-rclpy-minimal-subscriber==0.19.5
executing
expiringdict==1.2.2
Faker==37.1.0
fastjsonschema
filelock
flake8
Flask
flatbuffers==25.2.10
fonttools
frozendict
frozenlist
fsspec
gast==0.6.0
generate-parameter-library-py==0.4.0
genpy==2022.1
gensim
genson==1.3.0
geographic-msgs==1.0.6
geometry-msgs==5.3.6
gitdb
GitPython
google-api-core==2.24.2
google-auth==2.39.0
google-cloud-appengine-logging==1.6.1
google-cloud-audit-log==0.3.2
google-cloud-core==2.4.3
google-cloud-logging==3.12.1
google-cloud-storage==2.19.0
google-crc32c==1.7.1
google-pasta==0.2.0
google-resumable-media==2.7.2
googleapis-common-protos==1.70.0
gps-msgs==2.0.4
greenlet
grpc-google-iam-v1==0.14.2
grpcio==1.71.0
grpcio-status==1.71.0
h11==0.16.0
h5py
HeapDict
hf-xet==1.1.5
holoviews
httpcore==1.0.9
httpx==0.28.1
huggingface-hub==0.33.2
humansignal-drf-yasg==1.21.10.post1
hvplot
hyperlink
idna
ijson==3.3.0
image-geometry==4.1.0
imagecodecs
imageio
imagesize
imbalanced-learn
importlib-metadata
incremental
inflect==5.6.2
inflection
iniconfig
intake
interactive-markers==2.5.4
intervaltree
ipdb==0.13.13
ipykernel
ipython
ipython-genutils
ipywidgets==8.1.6
isodate==0.7.2
isort
itemadapter
itemloaders
itsdangerous
jaraco.classes
jedi
jeepney
jellyfish
Jinja2
jiter==0.9.0
jmespath
joblib
joint-state-publisher==2.4.0
joint-state-publisher-gui==2.4.0
jsf==0.11.2
json5
jsonpatch
jsonpointer==2.1
jsonschema==4.23.0
jsonschema-specifications
jupyter
jupyter-console
jupyter-events
jupyter-lsp
jupyter_client
jupyter_core
jupyter_server
jupyter_server_terminals
jupyterlab
jupyterlab-pygments
jupyterlab_server
jupyterlab_widgets==3.0.14
keras==3.9.2
keyring
kiwisolver
label-studio==1.17.0
label-studio-sdk==1.0.11
lark==1.2.2
laser-geometry==2.7.0
launch==3.4.4
launch-ros==0.26.7
launch-testing==3.4.4
launch-testing-ros==0.26.7
launch-xml==3.4.4
launch-yaml==3.4.4
launchdarkly-server-sdk==8.2.1
lazy-object-proxy
lazy_loader
lckr_jupyterlab_variableinspector
libarchive-c
libclang==18.1.1
libmambapy
lifecycle-msgs==2.0.2
linkify-it-py
llvmlite
lmdb
locket
lockfile==0.12.2
logging-demo==0.33.5
lxml
lz4
map-msgs==2.4.1
Markdown
markdown-it-py
MarkupSafe
matplotlib
matplotlib-inline
mcap==1.2.2
mccabe
mdit-py-plugins
mdurl
menuinst
message-filters==4.11.6
mistune
mkl-fft
mkl-random
mkl-service==2.4.0
ml_dtypes==0.5.1
more-itertools
mpmath
msgpack
multidict
multipledispatch
mypy==1.3.0
mypy-extensions
namex==0.0.9
nav-2d-msgs==1.3.6
nav-msgs==5.3.6
nav2-common==1.3.6
nav2-loopback-sim==1.0.0
nav2-msgs==1.3.6
nav2-simple-commander==1.0.0
navigator-updater
nbclient
nbconvert
nbformat
nest-asyncio
networkx
nltk==3.9.1
notebook
notebook_shim
numba
numexpr
numpy
numpydoc
nvidia-cublas-cu11==11.11.3.6
nvidia-cuda-cupti-cu11==11.8.87
nvidia-cuda-nvrtc-cu11==11.8.89
nvidia-cuda-runtime-cu11==11.8.89
nvidia-cudnn-cu11==9.1.0.70
nvidia-cufft-cu11==10.9.0.58
nvidia-curand-cu11==10.3.0.86
nvidia-cusolver-cu11==11.4.1.48
nvidia-cusparse-cu11==11.7.5.86
nvidia-nccl-cu11==2.20.5
nvidia-nvtx-cu11==11.8.86
open3d==0.19.0
openai==1.76.2
opencv-contrib-python==4.10.0.84
opencv-python==4.11.0.86
opencv-python-headless==4.11.0.86
openpyxl
opentelemetry-api==1.32.1
opt_einsum==3.4.0
optree==0.15.0
ordered-set==4.0.2
osrf-pycommon==2.1.6
overrides
packaging
pal-statistics==2.6.2
pal-statistics-msgs==2.6.2
pandas==2.2.3
pandocfilters
panel
param
parsel
parso
partd
pathspec
patsy
pcl-msgs==1.0.0
pendulum-msgs==0.33.5
pexpect
pickleshare
pillow
pkce
pkginfo
platformdirs
plotly
pluggy
ply
prometheus-client
prompt-toolkit
Protego
proto-plus==1.26.1
protobuf==5.29.4
psutil
psycopg2-binary==2.9.10
ptyprocess
pure-eval
py-cpuinfo
pyarrow
pyasn1
pyasn1-modules==0.2.8
pyboxen==1.3.0
pycodestyle
pycosat
pycparser
pyct
pycurl
pydantic==2.11.4
pydantic_core==2.33.2
pydeck
PyDispatcher
pydocstyle
pyerfa
pyflakes
Pygments
PyJWT==2.10.1
pylint
pylint-venv
pyls-spyder==0.4.0
pyodbc
PyOpenGL==3.1.9
PyOpenGL-accelerate==3.1.9
pyOpenSSL
pyparsing
PyQt5==5.15.10
PyQt5-sip
PyQt5-stubs==5.15.6.0
PyQtWebEngine==5.15.6
pyquaternion==0.9.9
pyRFC3339==2.0.1
PySocks
pytest==7.3.2
pytest-qt==4.2.0
python-dateutil
python-dotenv
python-json-logger==2.0.4
python-lsp-black
python-lsp-jsonrpc
python-lsp-server
python-qt-binding==2.2.1
python-slugify
python-snappy
pytoolconfig
pytools==2025.1.2
pytz==2022.7.1
pyviz_comms
pywavelets
pyxdg
PyYAML
pyzmq
QDarkStyle
qstylizer
qt-dotgraph==2.7.5
qt-gui==2.7.5
qt-gui-cpp==2.7.5
qt-gui-py-common==2.7.5
QtAwesome
qtconsole
QtPy
quality-of-service-demo-py==0.33.5
queuelib
rcl-interfaces==2.0.2
rclpy==7.1.4
rcutils==6.7.2
redis==5.2.1
referencing
regex
requests==2.32.3
requests-file
requests-mock==1.12.1
requests-toolbelt
resource-retriever==3.4.4
retrying==1.3.4
rfc3339-validator
rfc3986-validator
rich
rmw-dds-common==3.1.0
robot-localization==3.8.2
rope
ros-gz-bridge==1.0.11
ros-gz-interfaces==1.0.11
ros-gz-sim==1.0.11
ros2action==0.32.4
ros2bag==0.26.7
ros2bag-mcap-cli==0.26.7
ros2bag-sqlite3-cli==0.26.7
ros2cli==0.32.4
ros2component==0.32.4
ros2doctor==0.32.4
ros2interface==0.32.4
ros2launch==0.26.7
ros2lifecycle==0.32.4
ros2multicast==0.32.4
ros2node==0.32.4
ros2param==0.32.4
ros2pkg==0.32.4
ros2run==0.32.4
ros2service==0.32.4
ros2topic==0.32.4
rosbag2-interfaces==0.26.7
rosbag2-py==0.26.7
rosgraph-msgs==2.0.2
rosidl-adapter==4.6.5
rosidl-cli==4.6.5
rosidl-cmake==4.6.5
rosidl-generator-c==4.6.5
rosidl-generator-cpp==4.6.5
rosidl-generator-py==0.22.1
rosidl-generator-type-description==4.6.5
rosidl-parser==4.6.5
rosidl-pycommon==4.6.5
rosidl-runtime-py==0.13.1
rosidl-typesupport-c==3.2.2
rosidl-typesupport-cpp==3.2.2
rosidl-typesupport-fastrtps-c==3.6.1
rosidl-typesupport-fastrtps-cpp==3.6.1
rosidl-typesupport-introspection-c==4.6.5
rosidl-typesupport-introspection-cpp==4.6.5
rpds-py
rpyutils==0.4.1
rq==1.16.2
rqt-action==2.2.0
rqt-bag==1.5.4
rqt-bag-plugins==1.5.4
rqt-console==2.2.1
rqt-graph==1.5.4
rqt-gui==1.6.0
rqt-gui-py==1.6.0
rqt-msg==1.5.1
rqt-plot==1.4.2
rqt-publisher==1.7.2
rqt-py-common==1.6.0
rqt-py-console==1.2.2
rqt-reconfigure==1.6.2
rqt-service-caller==1.2.1
rqt-shell==1.2.2
rqt-srv==1.2.2
rqt-topic==1.7.3
rsa==4.9.1
rstr==3.2.2
rtcm-msgs==1.1.6
Rtree
ruamel-yaml-conda
ruamel.yaml
rules==3.4
s3fs
s3transfer==0.12.0
scikit-image
scikit-learn
scipy
Scrapy
seaborn
SecretStorage
semver
Send2Trash
sensor-msgs==5.3.6
sensor-msgs-py==5.3.6
sentry-sdk==2.27.0
service-identity
service-msgs==2.0.2
setuptools==80.1.0
shape-msgs==5.3.6
sip
six
slam-toolbox==2.8.3
smart-open==7.1.0
smclib==4.1.2
smmap
sniffio
snowballstemmer
sortedcontainers
soupsieve
Sphinx
sphinxcontrib-applehelp
sphinxcontrib-devhelp
sphinxcontrib-htmlhelp
sphinxcontrib-jsmath
sphinxcontrib-qthelp
sphinxcontrib-serializinghtml
spyder
spyder-kernels
SQLAlchemy
sqlparse==0.5.3
sros2==0.13.3
stack-data
statistics-msgs==2.0.2
statsmodels
std-msgs==5.3.6
std-srvs==5.3.6
stereo-msgs==5.3.6
streamlit
sympy
tables
tabulate
tblib
teleop-twist-keyboard==2.4.0
tenacity
tensorboard==2.19.0
tensorboard-data-server==0.7.2
tensorflow==2.19.0
termcolor==3.1.0
terminado
text-unidecode
textdistance
tf-transformations==1.1.0
tf2-geometry-msgs==0.36.10
tf2-kdl==0.36.10
tf2-msgs==0.36.10
tf2-py==0.36.10
tf2-ros-py==0.36.10
tf2-sensor-msgs==0.36.10
tf2-tools==0.36.10
thop==0.1.1.post2209072238
threadpoolctl
three-merge
tifffile
tinycss2
tldextract==5.3.0
toml
tomli
tomlkit
toolz
topic-monitor==0.33.5
torch==2.4.1+cu118
torchaudio==2.4.1+cu118
torchvision==0.19.1+cu118
tornado
tqdm
traitlets
trajectory-msgs==5.3.6
transform3d==0.0.4
transforms3d==0.4.2
triton==3.0.0
truststore
turtle-tf2-py==0.5.0
turtlesim==1.8.3
Twisted
type-description-interfaces==2.0.2
types-setuptools==71.1.0.20240818
typing-inspection==0.4.0
typing_extensions==4.13.2
tzdata
ua-parser==1.0.1
ua-parser-builtins==0.18.0.post1
uc-micro-py
ujson
ultralytics @ git+https://github.com/THU-MIG/yolov10.git@453c6e38a51e9d1d5a2aa5fb7f1014a711913397
unicodedata2
Unidecode
unique-identifier-msgs==2.5.0
uritemplate==4.1.1
urllib3==1.26.20
user-agents==2.2.0
vision-msgs==4.1.1
visualization-msgs==5.3.6
w3lib
watchdog
wcwidth
webencodings
websocket-client
Werkzeug
whatthepatch
wheel==0.40.0
widgetsnbextension==4.0.14
wrapt
wurlitzer
xacro==2.0.13
xarray
xmljson==0.2.1
xyzservices
yapf
yarl
zict
zipp
zope.interface
zstandard
